@model LoginRequestDTO

<form method="post" class="needs-validation" novalidate>
    <div class="container">
        <div class="d-flex justify-content-center mt-4">
            <div class="card" style="width: 100%; max-width: 500px;">
                <!-- Esnek genişlik ile responsive tasarım -->
                <div class="card-header">
                    <h6 class="card-title mb-0 text-center">Giriş Ekranı</h6>
                </div>
                <div class="card-body">
                    <div class="row gy-3">
                        <div class="col-12">
                            <label class="control-label" style="font-size: 18px; color: #343a40;">Email</label>
                            <input asp-for="UserName" type="email" class="form-control" placeholder="Email..." required />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                            <div class="invalid-feedback">Lütfen geçerli bir email giriniz.</div>
                        </div>

                        <div class="col-12">
                            <label class="control-label" style="font-size: 18px; color: #343a40;">Şifre</label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Şifre..." required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <div class="invalid-feedback">Lütfen şifrenizi giriniz.</div>
                        </div>

                        <div class="col-12 text-center mt-3">
                            <button type="submit" class="btn btn-success w-100">Giriş Yap</button> <!-- Düğme genişletildi -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        // Bootstrap istemci tarafı doğrulama desteği
        (() => {
            'use strict'
            const forms = document.querySelectorAll('.needs-validation')
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
}
