@model ProductVM

<form method="post" asp-action="ProductSettingMaterial" class="container">
    <div class="d-flex justify-content-center mt-4">
        <div class="card" style="width: 100%; max-width: 600px;">
            <div class="card-header">
                <h6 class="card-title mb-0 text-center">Product Material</h6>
            </div>
            <div class="card-body">
                <input asp-for="Product.ProductId" type="hidden" />

                <div class="row gy-3">
                    <div class="col-12">
                        <label class="control-label" style="font-size: 20px; color: #343a40;">Product Name</label>
                        <input asp-for="Product.Name" class="form-control" />
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>

                    <div class="col-12">
                        @for (int i = 0; i < Model.Product.ProductMaterials.Count; i++)
                        {
                            <div class="form-floating py-2 col-12" id="materialId">
                                <input asp-for="Product.ProductMaterials[i].Amount" class="form-control border-0 shadow" />
                                <label>@Model.Product.ProductMaterials[i].MaterialName</label>
                                <input asp-for="Product.ProductMaterials[i].MaterialName" type="hidden" />
                                <input asp-for="Product.ProductMaterials[i].ProductId" type="hidden" />
                                <span class="text-danger"></span>
                            </div>
                        }
                    </div>

                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>

                    <div class="col-12 text-center mt-2">
                        <a asp-controller="Product" asp-action="ProductIndex" class="btn btn-outline-secondary">Back To Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}
