@model IEnumerable<CategoryDto>

@{
	ViewData["Title"] = "Menu Page";
	Layout = "~/Views/Shared/_LayoutCallia.cshtml";
}


<div class="col-12">
    <div class="card h-100">
        <div class="card-body p-3 p-md-4 p-lg-5">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-3">
                <h6 class="mb-2 fw-bold text-md text-lg mb-0">Kategoriler Listesi</h6>
                <div class="col-12 col-md-6 text-md-end">
                    <a asp-action="CategoryCreate" class="btn btn-outline-primary w-100 w-md-auto">
                        <i class="bi bi-plus-square"></i> Yeni Kategori Oluştur
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Kategoriler</th>
                            <th scope="col" class="text-center">Görüntülenme Sırası</th>
                            <th scope="col" class="text-center">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model)
                        {
                            <tr>
                                <td>
                                    <h6 class="text-md mb-0 fw-normal">@category.Name</h6>
                                </td>
                                <td class="text-center">@category.DisplayOrder</td>
                                <td class="text-center">
                                    <a asp-action="CategoryDelete" asp-route-categoryId="@category.Id" class="btn btn-danger btn-sm mx-1" title="Delete">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                    <a asp-action="CategoryEdit" asp-route-categoryId="@category.Id" class="btn btn-warning btn-sm mx-1" title="Edit">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
