@model CategoryDto

<form asp-action="CategoryDelete">
    <div class="container">
        <div class="d-flex justify-content-center mt-4">
            <div class="card" style="width: 100%; max-width: 600px;">
                <div class="card-header">
                    <h6 class="card-title mb-0 text-center">Delete Category</h6>
                </div>
                <div class="card-body">
                    <input asp-for="Id" hidden />
                    <div class="row gy-3">
                        <div class="col-12">
                            <label asp-for="Name" class="control-label" style="font-size: 20px; color: #343a40;">Name</label>
                            <input asp-for="Name" disabled class="form-control" />
                        </div>

                        <div class="col-12">
                            <label asp-for="DisplayOrder" class="control-label" style="font-size: 20px; color: #343a40;">Display Order</label>
                            <input asp-for="DisplayOrder" disabled class="form-control" />
                        </div>

                        <div class="text-center mt-3">
                            <a asp-action="CategoryIndex" class="btn btn-outline-secondary">Back to List</a>
                            <input type="submit" value="Delete" class="btn btn-danger ms-2" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
