@model IEnumerable<CategoryDto>

<div class="container row">
    @foreach (var category in Model)
    {
        <div class="col-12 col-md-6 col-lg-4">
            <div class="p-0 my-3 border rounded">
                <div class="card">
                    <h3 class="card-title text-dark-50 text-center py-2">@category.Name</h3>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <!-- ProductDetails yerine Products action metoduna yönlendirdik ve categoryId parametresini geçiyoruz -->
                                <a asp-action="Products" asp-route-categoryId="@category.Id" class="btn btn-success form-control">Products</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>