@model RaporVM

@{
    ViewData["Title"] = "Menu Page";
    Layout = "~/Views/Shared/_LayoutCallia.cshtml";
}


<div class="col-xxl-12 col-lg-6">
    <div class="card h-100">
        <div class="card-body p-24">
            <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between mb-20">
                <h6 class="mb-2 fw-bold text-lg mb-0">Masaların Toplam Kazancı</h6>
                <a asp-controller="Home" asp-action="AdminIndex" class="text-primary-600 hover-text-primary d-flex align-items-center gap-1">
                    Geri Dön
                    <iconify-icon icon="solar:alt-arrow-right-linear" class="icon"></iconify-icon>
                </a>
            </div>
            <div class="table-responsive">
                <table class="table vertical-striped-table mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Masa Numarası</th>
                            <th scope="col">Toplam Kazanç</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MasalarınToplamKazancı)
                        {
                            <tr>
                                <td>
                                    <h6 class="text-md mb-0 fw-normal">@item.Key</h6>
                                </td>
                                <td>@string.Format(new System.Globalization.CultureInfo("tr-TR"), "{0:C}", item.Value)</td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>